@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-950 text-gray-100 font-sans antialiased;
    margin: 0;
    min-width: 320px;
  }

  * {
    box-sizing: border-box;
  }
}
